__pycache__/
.Rproj.user
.Rdata
.Rhistory
.Rapp.history
2018*
2019*
2020*
*.egg-info
/outputs*/
/dist/
/examples/
MANIFEST
shiny-25years/rsconnect
enrichment_results/
shiny-screen/images/
.direnv
.ipynb_checkpoints/
.virtual_documents/
venv/
share/
share-jupyter/
data/
/deleteme/
.share/
